.sm-ocl-parsley-validate {
  position: relative;

  .parsley-errors-list {
      margin: 0;
      font-size: 0.65rem;
      color: red;
      list-style: none;
      position: absolute;
      top: 100%;
      right: 0;        
  }

  &--checkbox .parsley-errors-list {
      position: relative;
      top: 100%;
      right: auto;
      padding: 0;
      margin-top: 0.5rem;
  }
}